.bio-image{
    background-image:url('../images/test.png');
    min-height:250px; 
}

.tagline-container{
    height:100%;
}

.title{
    font-size:xx-large;
    font-family: 'Taviraj', serif;
}

.subtitle{
    font-size:small;
    font-family: 'Taviraj', serif;
}

.text{
    font-size:medium;
    font-family: 'Raleway', serif;
}

.content-container{
    height:100%;
    background-color: white;
}