<div class='header-container'>
  <md-content hide-xs show-gt-xs>
      <md-nav-bar nav-bar-aria-label="Pages"> 
        <md-nav-item ng-repeat="link in links" md-nav-href="{{link.url}}" name="{{link.text}}">{{link.text}}</md-nav-item>
      </md-nav-bar>
  </md-content>
  <md-content hide show-xs>
      <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
          <h2>Daniel Shaw</h2>
          <md-menu>
            <md-button class="md-icon-button" aria-label="Menu" ng-click="headerCtrl.openMenu($mdOpenMenu, $event)" >
              <md-icon>menu</md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item ng-repeat='link in links'>
                <md-button ng-href="{{link.url}}">{{link.text}}</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>
  </md-content>
</div>